<div class="profile">
    <div class="profile-banner">

        <img src="../../../../../assets/images/banner1.jpg">
        <div class="upload-camera">
            <img src="../../../../../assets/images/camera.png" (click)="onClick()">
            <input type="file" #fileUpload id="fileUpload" (click)="onClick()" name="fileUpload" accept="image/*"
                style="display:none;" />
        </div>
    </div>
</div>

<div class="general-setting">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-12">
                <div class="profile-inner">
                    <h1>General Account Settings</h1>
                    <div class="heading-border"></div>
                </div>

                <div class="account-details">
                    <form [formGroup]="profileForm">
                        <div class="profile-details">

                            <div class="profile-label">
                                <label>Name</label>
                            </div>
                            <div class="profile-name">
                                <p *ngIf="!isEdit">{{
                                    this.userDetails.fullName}}</p>
                                <p *ngIf="isEdit"> <input type="text" placeholder="fullName" name="fullName"
                                        formControlName="fullName"></p>
                            </div>

                        </div>

                        <div class="profile-details">

                            <div class="profile-label">
                                <label>Location</label>
                            </div>
                            <div class="profile-name">
                                <p *ngIf="!isEdit">{{
                                    this.userDetails.country}}</p>

                                <p *ngIf="isEdit"> <select name="country" formControlName="country">
                                        <option value="">Choose your Country</option>
                                        <option *ngFor="let country of countryList" [ngValue]="country.name">
                                            {{country.name}}
                                        </option>
                                    </select></p>

                            </div>





                        </div>


                        <div class="profile-details">

                            <div class="profile-label">
                                <label>Gender</label>
                            </div>
                            <div class="profile-name">
                                <p *ngIf="!isEdit"> {{
                                    this.userDetails.gender}}</p>
                                <p *ngIf="isEdit"> <select name="gender" formControlName="gender">
                                        <option value="">Choose your gender</option>
                                        <option *ngFor="let gender of genderList" [ngValue]="gender">
                                            {{gender}}
                                        </option>
                                    </select></p>
                            </div>

                        </div>


                        <div class="profile-details">

                            <div class="profile-label">
                                <label>State</label>
                            </div>
                            <div class="profile-name">
                                <p *ngIf="!isEdit">{{
                                    this.userDetails.state}}</p>
                                <p *ngIf="isEdit"> <input type="text" placeholder="State" name="state"
                                        formControlName="state"></p>
                            </div>

                        </div>

                        <div class="profile-details">

                            <div class="profile-label">
                                <label>City</label>
                            </div>
                            <div class="profile-name">
                                <p *ngIf="!isEdit">{{
                                    this.userDetails.city}}</p>
                                <p *ngIf="isEdit"> <input type="text" placeholder="City" name="city"
                                        formControlName="city"></p>
                            </div>

                        </div>

                        <div class="profile-details">

                            <div class="profile-label">
                                <label>Email</label>
                            </div>
                            <div class="profile-name">
                                <p *ngIf="!isEdit">{{
                                    this.userDetails.email}}</p>
                                <p *ngIf="isEdit"> <input type="text" placeholder="email" name="email"
                                        formControlName="email"></p>
                            </div>

                        </div>

                        <div class="profile-details">

                            <div class="profile-label">
                                <label>Phone Number</label>
                            </div>
                            <div class="profile-name">
                                <p *ngIf="!isEdit">{{
                                    this.userDetails.phoneNumber}}</p>
                                <p *ngIf="isEdit"> <input type="text" maxlength="10" placeholder="Phone Number"
                                        name="phoneNumber" formControlName="phoneNumber"></p>
                            </div>

                        </div>
                        <div class="profile-details">
                            <div class="profile-label">

                            </div>
                            <div class="profile-name">
                            </div>
                            <div class="profile-button">
                                <p><a (click)="editProfile()" *ngIf="!isEdit"><i class="fa fa-pencil"
                                            aria-hidden="true"></i> Edit</a>
                                </p>
                                <p *ngIf="isEdit"><a (click)="updateProfile()" [disabled]="!profileForm.valid"><i
                                            class="fa fa-floppy-o" aria-hidden="true"></i> Save</a>
                                    <a (click)="resetForm()" style="margin-left:20px"><i class="fa fa-times"
                                            aria-hidden="true"></i>
                                        Cancel</a>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="change-background">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-12">
                <div class="heading">
                    <h1>Post</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-12">
                <div class="people-all-comment">
                    <div class="person-post">
                        <p><img src="../../../../../assets/images/user.jfif"></p>
                        <p>Loream Ipsum <span>12 Apr 2021 10:04 pm</span></p>
                        <p><i class="fa fa-ellipsis-v delete" aria-hidden="true"></i>
                            <span class="as">Delete post</span>
                        </p>

                    </div>

                    <div class="latest-post">
                        <p>Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Vivamus magna justo, lacinia
                            eget consectetur sed, convallis at tellus. Mauris blandit aliquet elit, eget tincidunt
                            nibh pulvinar a. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus.
                            Curabitur aliquet quam id dui posuere blandit. Proin eget tortor risus. Mauris blandit
                            aliquet elit, eget tincidunt nibh pulvinar a. Proin eget tortor risus. Vestibulum ante
                            ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit
                            neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Curabitur aliquet quam
                            id dui posuere blandit.</p>
                    </div>
                    <div class="likecomment-section">
                        <div class="like-part">
                            <p><span><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></span> 5</p>

                        </div>

                        <div class="comment-part">
                            <p>10 Comments</p>
                        </div>

                    </div>

                    <div class="share">
                        <div class="like-part">
                            <p><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Like</p>

                        </div>

                        <div class="comment-part">
                            <p><i class="fa fa-comment-o" aria-hidden="true"></i> Comment</p>
                        </div>

                        <div class="comment-part">
                            <p><i class="fa fa-share" aria-hidden="true"></i> Share</p>
                        </div>

                    </div>


                    <div class="public-comments-main">

                        <div class="public-comments">
                            <div class="public-img">
                                <img src="../../../../../assets/images/profile2.jpg">
                            </div>

                            <div class="publiccommentInner">
                                <h5>Loream Ipsum</h5>
                                <p class="comment">Loream Ipsum simply dummy text</p>
                            </div>
                        </div>

                        <div class="public-comments">
                            <div class="public-img">
                                <img src="../../../../../assets/images/user.jfif">
                            </div>

                            <div class="publiccommentInner">
                                <h5>Loream Ipsum</h5>
                                <p class="comment">Loream Ipsum simply dummy text</p>
                            </div>
                        </div>

                    </div>

                    <div class="self-commnet">
                        <div class="public-comments">
                            <div class="public-img">
                                <img src="../../../../../assets/images/user.jfif">
                            </div>

                            <div class="mycomment">
                                <textarea placeholder="Write a public comment here..."></textarea>
                            </div>
                        </div>

                    </div>

                    <div class="load-commnet">
                        <p>More Comments</p>
                    </div>
                </div>

                <div class="people-all-comment">
                    <div class="person-post">
                        <p><img src="../../../../../assets/images/user.jfif"></p>
                        <p>Loream Ipsum <span>12 Apr 2021 10:04 pm</span></p>
                        <p><i class="fa fa-ellipsis-v delete" aria-hidden="true"></i>
                            <span class="as">Delete post</span>
                        </p>

                    </div>

                    <div class="latest-post">
                        <p>Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Vivamus magna justo, lacinia
                            eget consectetur sed, convallis at tellus. Mauris blandit aliquet elit, eget tincidunt
                            nibh pulvinar a. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus.
                            Curabitur aliquet quam id dui posuere blandit. Proin eget tortor risus. Mauris blandit
                            aliquet elit, eget tincidunt nibh pulvinar a. Proin eget tortor risus. Vestibulum ante
                            ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit
                            neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Curabitur aliquet quam
                            id dui posuere blandit.</p>
                    </div>
                    <div class="likecomment-section">
                        <div class="like-part">
                            <p><span><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></span> 5</p>

                        </div>

                        <div class="comment-part">
                            <p>10 Comments</p>
                        </div>

                    </div>

                    <div class="share">
                        <div class="like-part">
                            <p><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Like</p>

                        </div>

                        <div class="comment-part">
                            <p><i class="fa fa-comment-o" aria-hidden="true"></i> Comment</p>
                        </div>

                        <div class="comment-part">
                            <p><i class="fa fa-share" aria-hidden="true"></i> Share</p>
                        </div>

                    </div>


                    <div class="public-comments-main">

                        <div class="public-comments">
                            <div class="public-img">
                                <img src="../../../../../assets/images/profile2.jpg">
                            </div>

                            <div class="publiccommentInner">
                                <h5>Loream Ipsum</h5>
                                <p class="comment">Loream Ipsum simply dummy text</p>
                            </div>
                        </div>

                        <div class="public-comments">
                            <div class="public-img">
                                <img src="../../../../../assets/images/user.jfif">
                            </div>

                            <div class="publiccommentInner">
                                <h5>Loream Ipsum</h5>
                                <p class="comment">Loream Ipsum simply dummy text</p>
                            </div>
                        </div>

                    </div>

                    <div class="self-commnet">
                        <div class="public-comments">
                            <div class="public-img">
                                <img src="../../../../../assets/images/user.jfif">
                            </div>

                            <div class="mycomment">
                                <textarea placeholder="Write a public comment here..."></textarea>
                            </div>
                        </div>

                    </div>

                    <div class="load-commnet">
                        <p>More Comments</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>