<div class="container">
    <div class="row">
        <div class="col-md-12 col-12">
            <div class="post">
                <div class="post-img">
                    <img src="../../../../assets/images/user.jfif">
                </div>
                <div class="post-area">
                    <textarea></textarea>
                </div>
                <div class="post-button">
                    <a href="#">POST</a>
                </div>
            </div>
            <div class="post-public">
                <p><input type="radio" name="post"> Friends</p>
                <p><input type="radio" name="post"> Public</p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12 col-12">
            <div class="people-all-comment">
                <div class="public-post">
                    <p><img src="../../../../assets/images/photo.png"> Photo</p>
                    <p><i class="fa fa-video-camera" aria-hidden="true"></i> Video</p>
                    <button>See public Post</button>
                </div>
                <div class="person-post">
                    <p><img src="../../../../assets/images/user.jfif"></p>
                    <p>Loream Ipsum <span>12 Apr 2021 10:04 pm</span></p>
                    <p><i class="fa fa-ellipsis-v delete" aria-hidden="true"></i>
                        <span class="as">Delete post</span>
                    </p>
                </div>
                <div class="latest-post">
                    <p>Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Vivamus magna justo, lacinia
                        eget consectetur sed, convallis at tellus. Mauris blandit aliquet elit, eget tincidunt nibh
                        pulvinar a. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus.
                        Curabitur aliquet quam id dui posuere blandit. Proin eget tortor risus. Mauris blandit
                        aliquet elit, eget tincidunt nibh pulvinar a. Proin eget tortor risus. Vestibulum ante ipsum
                        primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor
                        sit amet aliquam vel, ullamcorper sit amet ligula. Curabitur aliquet quam id dui posuere
                        blandit.</p>
                </div>
                <div class="likecomment-section">
                    <div class="like-part">
                        <p><span><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></span> 5</p>
                    </div>
                    <div class="comment-part">
                        <p>10 Comments</p>
                    </div>
                </div>
                <div class="share">
                    <div class="like-part">
                        <p><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Like</p>
                    </div>
                    <div class="comment-part">
                        <p><i class="fa fa-comment-o" aria-hidden="true"></i> Comment</p>
                    </div>
                    <div class="comment-part">
                        <p><i class="fa fa-share" aria-hidden="true"></i> Share</p>
                    </div>
                </div>
                <div class="public-comments-main">
                    <div class="public-comments">
                        <div class="public-img">
                            <img src="../../../../assets/images/profile2.jpg">
                        </div>
                        <div class="publiccommentInner">
                            <h5>Loream Ipsum</h5>
                            <p class="comment">Loream Ipsum simply dummy text</p>
                        </div>
                    </div>
                    <div class="public-comments">
                        <div class="public-img">
                            <img src="../../../../assets/images/user.jfif">
                        </div>
                        <div class="publiccommentInner">
                            <h5>Loream Ipsum</h5>
                            <p class="comment">Loream Ipsum simply dummy text</p>
                        </div>
                    </div>
                </div>
                <div class="self-commnet">
                    <div class="public-comments">
                        <div class="public-img">
                            <img src="../../../../assets/images/user.jfif">
                        </div>
                        <div class="mycomment">
                            <textarea placeholder="Write a public comment here..."></textarea>
                        </div>
                    </div>
                </div>
                <div class="load-commnet">
                    <p>More Comments</p>
                </div>
            </div>
            <!--	next post-->
            <div class="people-all-comment">
                <div class="person-post">
                    <p><img src="../../../../assets/images/profile4.jfif"></p>
                    <p>Loream Ipsum <span>12 Apr 2021 10:04 pm</span></p>
                    <p><i class="fa fa-ellipsis-v" aria-hidden="true"></i></p>
                </div>
                <div class="latest-post">
                    <p>Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Vivamus magna justo, lacinia
                        eget consectetur sed, convallis at tellus. Mauris blandit aliquet elit, eget tincidunt nibh
                        pulvinar a. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus.
                        Curabitur aliquet quam id dui posuere blandit. Proin eget tortor risus. Mauris blandit
                        aliquet elit, eget tincidunt nibh pulvinar a. Proin eget tortor risus. Vestibulum ante ipsum
                        primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor
                        sit amet aliquam vel, ullamcorper sit amet ligula. Curabitur aliquet quam id dui posuere
                        blandit.</p>
                </div>
                <div class="likecomment-section">
                    <div class="like-part">
                        <p><span><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></span> 5</p>
                    </div>
                    <div class="comment-part">
                        <p>10 Comments</p>
                    </div>
                </div>
                <div class="share">
                    <div class="like-part">
                        <p><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Like</p>
                    </div>
                    <div class="comment-part">
                        <p><i class="fa fa-comment-o" aria-hidden="true"></i> Comment</p>
                    </div>
                    <div class="comment-part">
                        <p><i class="fa fa-share" aria-hidden="true"></i> Share</p>
                    </div>
                </div>
                <div class="public-comments-main">
                    <div class="public-comments">
                        <div class="public-img">
                            <img src="../../../../assets/images/profile2.jpg">
                        </div>
                        <div class="publiccommentInner">
                            <h5>Loream Ipsum</h5>
                            <p class="comment">Loream Ipsum simply dummy text</p>
                        </div>
                    </div>
                    <div class="public-comments">
                        <div class="public-img">
                            <img src="../../../../assets/images/user.jfif">
                        </div>
                        <div class="publiccommentInner">
                            <h5>Loream Ipsum</h5>
                            <p class="comment">Loream Ipsum simply dummy text</p>
                        </div>
                    </div>
                </div>
                <div class="self-commnet">
                    <div class="public-comments">
                        <div class="public-img">
                            <img src="../../../../assets/images/user.jfif">
                        </div>
                        <div class="mycomment">
                            <textarea placeholder="Write a public comment here..."></textarea>
                        </div>
                    </div>
                </div>
                <div class="load-commnet">
                    <p>More Comments</p>
                </div>
            </div>
        </div>
    </div>
</div>