<div class="login">
   <div class="container">
      <div class="row">
         <div class="col-md-12 col-12">
            <div class="login-inner">
               <form [formGroup]="loginForm">
                  <h1>Login</h1>
                  <div class="form-group">
                     <input type="text" placeholder="Email" name="userName" formControlName="userName">
                  </div>
                  <div class="form-group">
                     <input type="password" placeholder="Password" name="password" formControlName="password">
                  </div>
                  <div class="form-group button-div">
                     <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid"
                        (click)="login()">Login</button>
                     <button class="google" (click)="loginWithGoogle()"><img src="../../../../assets/images/google.png">
                        Continue with
                        google</button>
                  </div>
                  <div class="extra-text">
                     <p>Don't have an account? <span><a routerLink="/signup">Sign Up</a></span></p>
                     <p class="forget"><a routerLink="/forgotpassword">Forgot Password?</a></p>
                     <button>Demo Video</button>
                  </div>
               </form>

            </div>
         </div>
      </div>
   </div>
</div>